[Interface]
PrivateKey = {{ client_private_key_result.stdout }}
Address = 10.0.0.2/24
DNS = {{ dns_server.stdout }}

[Peer]
PublicKey = {{ public_key }}
Endpoint = {{ ansible_host }}:51820
AllowedIPs = 0.0.0.0/0